*{
    background-color:color-mix(in hsl shorter hue, color percentage, color percentage);
    /* color:aqua; */
}

.header{
    min-height: 100vh;
    height: 50;
    width: 100%;
    position:relative;
    display:block;
}
nav{
    display: flex;
    top:;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(var(--bs-dark-rgb));
}

.nav-links{
    flex:1;
    text-align: left;
}

.nav-links ul li{
    list-style: none;
    display:inline-block;
    margin: 0;
    padding: 0;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
    font-size: xx-large;
    padding: 2% 2%;
    margin-left: 5px;
    color: rgba(153, 147, 147, 0.993);
    transition: 0.2s;
    border-radius: 10px;
}

.nav-links ul li a:hover{
    color:burlywood;
    /* background-color: black; */
    border-radius: 10px;
    /* padding: 5%; */
}

.text-box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.search-box{
    display: flex;
    /* padding: 2% 6%; */
    justify-content:center;
    align-items: center;
}
.search-box form{
    position: relative;
    margin-right: 5%;
    margin-left: 5%;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    display: none;
}

.card{
    width: 150%;
    height: 150%;
}


.form-check-input{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.form-check {
    display: flex;
    justify-content: center;
    align-items: center;
}

#suggestions {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    width: 200px;
}

#suggestions li {
    list-style-type: none;
    padding: 8px 12px;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: #e5e5e5;
}

.dog{
    display:flex;
    margin: 0%;
    align-items: center;
    justify-content: center;
}
.dog img{
    flex-grow: 1;
}

/* input{
    background-color: #f1f1f1;
} */